<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/1.css" />
</head>
<body>
    <h1>
        这是个人中心
    </h1>
    <p>
        <a href="/index.html">首页</a>
    </p>
    <table>
        <tbody>
        <tr>
            <th>序号</th>
            <th>股票简称</th>
            <th>涨跌幅</th>
            <th>换手率</th>
            <th>最新价（元）</th>
            <th>前期高点</th>
            <th style="color: brown;">备注信息</th>
            <th>修改备注</th>
            <th>删除</th>
        </tr>
        {%content%}
    </tbody>
    </table>
    
</body>