<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/1.css" />
</head>
<body>
    <h1>
        这是主页
    </h1>
    <p>
        <a href="/center.html">个人中心</a>
    </p>
    <table>
        <tbody>
        <tr>
            <th>序号</th>
            <th>股票代码</th>
            <th>股票简称</th>
            <th>涨跌幅</th>
            <th>换手率</th>
            <th>最新价（元）</th>
            <th>前期高点</th>
            <th>前期高点日期</th>
            <th>添加自选</th>
        </tr>
        {%content%}
    </tbody>
    </table>
    
</body>